.navbar {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
}

.navbar-right {
    margin-right: 0;
}

#username {
    font-size: large;
    padding: 0;
}

.custom-form {
    padding-right: 1px;
    padding-left: 2px;
}